/* titulo site */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(#481d8c, #1c0b38); */
    background: #111319;
    min-height: 100Vh;
    font-family: "Inter", sans-serif;
    
}

header  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
    border-bottom: 1px solid rgba(131, 130, 130, 0.329);
        
}

#menu {
    width: 13rem;
    display: flex;
    align-items: center;
    /* padding-left:  30px; */
}

.fa-video {
    margin: 0 10px;
    font-size: 25px;
    /* color: whitesmoke; */
    color: rgb(255 255 255 / 
88%);
}

#titleMenu1 {
    color: rgb(255 255 255 / 
88%);
    font-family: "Inter", sans-serif;
}

#titleMenu2 {
    color: rgba(185, 158, 239, 0.819);
}

.searchContainer {
    /* background-color: #5b3993a5; */
    background-color: #26113fbc;
    display: flex;
    justify-content: center; 
    padding: 50px 0 ;
    flex-direction: column;
    align-items: center;
}


#divSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    flex-wrap: wrap;
    margin: 0 5px;
    position: relative;
}

#divSearch h2 {
    font-size: 19px;
    font-weight: 600;
    color: rgb(214, 212, 212);
    padding-top: 6px
}



.inputArea {
    /* background: #232125cf; */
    background-color: rgba(82, 61, 102, 0.182);
    padding: 8px 14px;
    min-width: 12rem;
    max-width: 16.5rem;
    display: flex;
    border-radius: 10px;
    border:  1px solid rgba(131, 130, 130, 0.329);

}

.inputArea input {
    /* background: #2A1C3D; */
    background: transparent;
    color: rgb(214, 212, 212);
    outline: none;
    border: none;
    font-size: 17px;
    width: 100%;
    padding: 7px 0;
}

.fa-magnifying-glass {
    /* text-align: center; */
    color: rgb(255 255 255 /
88%);
    display: flex;
    align-items: center;
    font-size: 18px;
}

.fa-magnifying-glass:hover {
    color: rgba(255, 255, 255, 0.555);
    cursor:pointer;
}

.container-search {
    position: relative;
}

.container-search-list {
    /* position: fixed;  */
    background-color: rgb(29 20 37 / 91%);
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    max-height: 305px;
    /* max-width: 2.5rem; */
    min-width: 16.8rem;
    overflow-y: scroll;
    z-index: 10;
    padding: 10px 7px 4px 7px;
    margin-top: 1px;
    justify-self: center;
    border-radius: 7px;

    
}

.search-item {
    /* position: relative;
    left: 83px; */
    /* height: 100px; */
    display: grid;
    /* grid-template-columns: 3.5rem 8rem; */
    /* grid-template-rows: 70% 30%;
     */
    /* grid-template-areas: 
    "img texto"
    "year year"; */
    /* grid-template-rows: 1fr; */
    grid-template-columns: 3.5rem 8rem;
    grid-template-rows: 3rem;
    grid-template-areas: 
    "img texto";
    position: relative;
    padding-bottom: 20px;
    padding-bottom: 24px;

    
}

.img-search-item {
    width: 42px;
    grid-area: img;
}

.search-item .title-search-item {
    font-weight: 600;
    /* padding: 3px 3px 10px 3px; */
   
    padding-bottom: 10px;
    grid-area: texto;
    font-size: 13px;
    width: 12rem;

}

.year-search-item {
    grid-area: year;
    position: absolute;
    top: 45px;
    left: 56px;
    color: rgb(182, 182, 182);
    font-size: 13px;
}

.msgInitial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.hide-msg-initial {
    display: none;
}

.iconeFilmInitial {
    padding: 30px 25px;
    background-color:rgba(82, 61, 102, 0.182);
    border-radius: 54px;
}

.fa-film {
    color: #d2d2d27a;
    font-size: 47px;

}


.titleMsgInitial {
    padding: 23px 0 7px 0;
    color: #d2d2d2c6;
    font-size: 20px;
    font-weight: 500;
}

.textMsgInitial {
    color: rgb(157 150 164 / 57%);
    text-align: center;
    line-height: 23px;
}

.movieArea {
    display: none;
}

.containerMovie {
    background-color: rgba(82, 61, 102, 0.182);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 10px ;
    max-width: 26rem;
    /* background: #222020; */
    padding: 18px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 1px 1px 13px #0000006b;
    
    
}

.divImgMovie {
    width: 12.5rem;
    
}

.divImgMovie img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    /* box-shadow: 1px 1px 33px #00000036; */
}


.descriptionMovie {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.titleFilm {
    display: flex;
    justify-content: center;
    padding: 15px 0 ;
    text-align: center;
}

.titleFilm h3 {
    color: rgba(188, 164, 237, 0.819);
    font-size: 25px;

}

#textDescription {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color: rgba(194, 194, 194, 0.89);
    gap: 10px;
    min-width: 280px;
    max-width: 380px;
    

}

.divYear {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

#year, #ratings, #released, #genre, #writer, #actors, #plot, #language{
   font-weight: bold;
}

#ratings {
    padding: 7px;
    background: rgb(104, 104, 207);
    border-radius: 5px;
}

.divGenre, .divWriter, .divActors, .divPlot, .languageText, .divNominated{
    display: flex;
    gap: 13px;
    /* flex-wrap: wrap; */
    margin-bottom: 10px; 
    font-size: 14px;
}

.divGenre {
    background: #36284c93; ;
    padding: 7px;
    border-radius: 5px;
}

.languageText {
    color: rgb(136, 136, 247);
}

.fa-award {
    color: rgb(136, 136, 247); 
}

.showSection {
    display: grid;
    justify-content: center;
}

.divLoader {
    min-width: 100%;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40px;
}

.searchLoader {
    border: 7px dashed rgb(143, 143, 143);
    border-radius: 50%;

    /* nome, rapidez, rodar infinitamente, linear sem pausa */
    animation: loader 3s infinite linear;
    height: 50px;
    width: 50px;
    margin-top: 120px;
    display: none;
}



.msgError {
    color: white;
    margin: 25px;
    font-size: 15px;
}


.hide-search-list {
    display: none;
}

.msgErrorList {
    display: none;
}

/* config loader svg */

.imgErrorPag {
    width: 200px;
    padding-top: 108px;
    display: none;
}

.showImgErrorPag {
    display: flex;
}

.loader {
  width: 50px;
  height: 50px;
  margin: 45px;
  position: absolute;
  top: 14rem;
  animation: rotate 1.6s linear infinite;
  
  stroke: #10b981;
  display: none;
}

.showLoader {
    display: flex;
}

/* config path svg */
.path {
  stroke: #9b6cff;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

/* config loader */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* config loader */
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}



@media screen and (min-width: 700px) {

    header {
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        gap: 100px;
    }

    .searchContainer {
        padding: 60px 0;
    }

    #divSearch {
        gap: 20px;
    }

    #divSearch h2 {
        font-size: 24px;
        
    }

    .inputArea {
        max-width: 20rem;
        min-width: 18rem;
    }

    .containerMovie {
        flex-direction: row;
        margin: 120px 0;
        gap: 64px;
        max-width: 42rem;
        padding: 18px 33px;
    }
    .titleFilm {
        padding-bottom: 15px;
    }

    .titleFilm h3 {
        font-size: 30px;
    }

    .divImgMovie {
        width:16rem;
    }
    .imgMovie {
        width: 15rem;
        margin-right: 44px;
        height: 366px;;
    }

    .descriptionMovie {
        margin: 0;
    }

    .divGenre, .divWriter, .divActors, .divPlot, .languageText, .divNominated, .divYear{ 
        font-size: 15px;
    }

    .container-search-list {
        min-width: 17.8rem;
        max-height: 370px;
        position: absolute;
        left: -6px;

    }

    .divLoader {
        top: 85px;
    }
}